a,body,div,h1,h2,html,li,p,span,ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}

body {
    line-height: 1;
    color: #000
}

ul {
    list-style: none
}

body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #333;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a {
    color: #0872b4;
    text-decoration: none
}

.inline {
    display: inline
}

* {
    -webkit-transition: background-color .15s ease-out,color .15s ease-out,border-color .15s ease-out,fill .15s ease-out,-webkit-box-shadow .15s ease-out;
    transition: background-color .15s ease-out,color .15s ease-out,border-color .15s ease-out,fill .15s ease-out,-webkit-box-shadow .15s ease-out;
    transition: background-color .15s ease-out,color .15s ease-out,border-color .15s ease-out,fill .15s ease-out,box-shadow .15s ease-out;
    transition: background-color .15s ease-out,color .15s ease-out,border-color .15s ease-out,fill .15s ease-out,box-shadow .15s ease-out,-webkit-box-shadow .15s ease-out
}

ul.inline,ul.inline>li {
    display: inline-block
}

ul.inline>li {
    vertical-align: baseline
}

p {
    margin-bottom: .75em
}

p:last-child {
    margin-bottom: 0
}

h1,h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 10px
}

.text.ellipsis {
    vertical-align: bottom;
    white-space: nowrap;
    overflow-x: hidden;
    max-width: 100%;
    display: inline-block;
    text-overflow: ellipsis
}

.button {
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 28px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333
}

.button:focus {
    outline-color: rgba(8,114,180,.4)
}

a.button {
    text-decoration: none!important
}

.button.xlarge {
    font-size: 18px;
    line-height: 48px;
    padding: 0 30px
}

.button.dark {
    color: #fff;
    -webkit-box-shadow: 0 0 0 1px hsla(0,0%,100%,.1);
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.1)
}

.button.dark.primary {
    background-color: #0872b4;
    border-color: #0872b4
}

.page-container {
    width: 100%;
    height: 100%;
    overflow: visible
}

.page-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh
}

main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.profile-scope-1zgKV main {
    padding-top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch
}

.profile-scope-1zgKV main>:first-child {
    width: 100%
}

.profile-scope-1zgKV .profile-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    position: relative
}

.profile-scope-1zgKV .profile-column>:first-child {
    width: 100%
}

@media only screen and (min-width: 721px) {
    .profile-scope-1zgKV main {
        padding-right:0;
        -webkit-transition: padding-right .25s ease-in-out;
        transition: padding-right .25s ease-in-out
    }
}

.profile.profile_view-scope-1Shwh {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 320px;
    position: relative
}

.profile.profile_view-scope-1Shwh .profile-content {
    color: #333;
    z-index: 1
}

.profile.profile_view-scope-1Shwh .profile-content,.profile.profile_view-scope-1Shwh .profile-content .body,.profile.profile_view-scope-1Shwh .profile-content .head {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.profile.profile_view-scope-1Shwh .profile-content .body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.profile.profile_view-scope-1Shwh .profile-content .body>* {
    width: 100%
}

.profile.profile_view-scope-1Shwh .profile-content .body-content {
    padding: 30px 0 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.profile.profile_view-scope-1Shwh .profile-content .inset {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    max-width: 440px;
    width: 100%
}

.profile.profile_view-scope-1Shwh .profile-content section+section:not(:empty) {
    margin-top: 30px
}

.profile.profile_view-scope-1Shwh .profile-content .name-headline section+section:not(:empty) {
    margin-top: 5px
}

.profile.profile_view-scope-1Shwh .profile-content .image {
    background-color: #eee;
    width: 120px;
    height: 120px;
    background-image: url(inarino_small.jpg);
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center
}

.profile.profile_view-scope-1Shwh .profile-content .name {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin: 0;
    color: #333
}

.profile.profile_view-scope-1Shwh .profile-content .headline {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0
}

.profile.profile_view-scope-1Shwh .profile-content .headline .role {
    display: inline-block;
    text-transform: capitalize
}

.profile.profile_view-scope-1Shwh .profile-content .spotlight .button {
    min-width: 100%;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.profile.profile_view-scope-1Shwh .profile-content .spotlight .button.dark {
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 100px hsla(0,0%,100%,0);
    box-shadow: inset 0 0 0 100px hsla(0,0%,100%,0)
}

.profile.profile_view-scope-1Shwh .profile-content .spotlight .button .text.ellipsis {
    max-width: 244px
}

.profile.profile_view-scope-1Shwh .profile-content .spotlight .button:before {
    font-size: 24px;
    width: 24px;
    margin-right: 10px;
    top: 2px;
    margin-left: -30px
}

.profile.profile_view-scope-1Shwh .profile-content .spotlight .button.xlarge.dark.primary {
	background-color: #513493;
	border-color: #513493
}

.profile.profile_view-scope-1Shwh .profile-content .bio {
    font-size: 16px;
    text-align: left;
    word-wrap: break-word
}

@media only screen and (max-width: 430px) {
    .profile.profile_view-scope-1Shwh .profile-content .bio {
        max-width:100%
    }
}

.profile.profile_view-scope-1Shwh .profile-content .social-links {
    max-width: 470px
}

.profile.profile_view-scope-1Shwh .profile-content .social-links li {
    padding: 0;
    margin: 12.5px;
    width: 36px;
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    cursor: pointer;
    display: block;
    -webkit-font-smoothing: antialiased;
    color: #999
}

.profile.profile_view-scope-1Shwh .profile-content .social-links li svg {
    fill: #999;
    height: 100%;
    width: 100%
}

.profile.profile_view-scope-1Shwh .profile-content .meta-header {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    color: #999;
    margin-bottom: 5px
}

.profile.profile_view-scope-1Shwh .profile-content ul.inline {
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.profile.profile_view-scope-1Shwh .profile-content ul.inline,.profile.profile_view-scope-1Shwh .profile-content ul.meta-sections {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

.profile.profile_view-scope-1Shwh .profile-content ul.meta-sections {
    font-size: 14px;
    margin-bottom: 0
}

.profile.profile_view-scope-1Shwh .profile-content ul.meta-sections .meta-item {
    display: block
}

.profile.profile_view-scope-1Shwh .profile-content ul.meta-sections .meta-item+.meta-item {
    margin-top: .25em
}

@media only screen and (min-width: 641px) {
    .profile.profile_view-scope-1Shwh .profile-content ul.meta-sections {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

@media only screen and (max-width: 640px) {
    .profile.profile_view-scope-1Shwh .profile-content ul.meta-sections {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .profile.profile_view-scope-1Shwh .profile-content ul.meta-sections .meta-section {
        width: 100%
    }
}

.profile.profile_view-scope-1Shwh.small {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px
}

.profile.profile_view-scope-1Shwh.small .profile-content {
    width: 620px;
    max-width: -webkit-calc(100vw - 10px);
    max-width: calc(100vw - 10px);
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 60px
}

.profile.profile_view-scope-1Shwh.small .head .image {
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,.2),0 0 2px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,.2),0 0 2px 0 rgba(0,0,0,.1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: -60px auto 20px;
    width: 120px;
    height: 120px
}

.profile.profile_view-scope-1Shwh.small .name-headline {
    padding-left: 20px;
    padding-right: 20px
}

body {
    background-color: #513493;
    background: -webkit-linear-gradient(315deg, #513493 0%, #513493 30%, #8a58fa 100%) fixed;
    background: linear-gradient(135deg, #513493 0%, #513493 30%, #8a58fa 100%) fixed;
}